<!DOCTYPE html>
<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<html>

<head>
<style>


.table{
margin-top:50px;
margin-left:auto;
margin-right:auto;
width:50%;
background-color:cyan;
}

.heading{
margin-top:50px;
margin-left:auto;
margin-right:auto;
width:75%;
}

</style>
</head>

<div class="heading">
  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="home.html">Home</a>
      <ul class="nav">
	<li class="active"><a href="home.html">New Releases</a></li>
	<li><a href="#">Forum</a></li>
	<li><a href="#">Links</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="table">
<table class="table table-bordered">
  <tr>
    <td> this is my first table </td>
    <td> this is fun</td>
  </tr>
  <tr>
    <td> second row </td>
    <td> second column </td>
  </tr>
</table>
</div>
</html>
