<!DOCTYPE html>

<head>

<link type="text/css" href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<style>
body{
  background-size: cover;
  background-color: black;
  background-repeat: no-repeat;
}



.center{
  margin-left:auto;
  margin-right:auto;
  width:50%;
}

#aboutus:hover{
	cursor:hand; 
	cursor:pointer;
}

</style>
</head>

<body style="background-color:black">



<div class="center" style="margin-top:140px">
<h1 style="color:lightgray">Welcome to Team Awesome Game Search</h1>



<br />

<form action="" method="post">
  <fieldset>
    <legend>Search By Name</legend>
    <input class="span4" type="text" name="textarea" placeholder="">
<br />
    <button type="submit" name="button" value="Search" class="btn btn-large">Search!</button>
  </fieldset>
</form>
</div>

<div id="abouts" class="center" style="position:relative; top:0px;margin-top:250px">
<p id="aboutus" style="color:lightgray;text-decoration:underline">About Us</p>

<p id="about" style="color:lightgray;display:none">Hello! This app has been made by <b>Win Wang, Amanpreet Kandola, Daelin Fischman, and Kevin Huang</b>. We are <b>Team Awesome</b>, and welcome to our app!
<br />
<br />
This miniature search engine takes a string input, and searches GiantBomb, a gaming website, for games relating to the string. For example, inputting "Halo" will return games such as "Halo 4" and "Halo: Reach".
<br />
On the results page, clicking the name of the game will redirect the user to a google search with the name as the parameter. Clicking "Description" will redirect the user to the game's description that GiantBomb's API gives the app.
</p>
</div>

</body>


<script>

$("#aboutus").click(function(){
	$("#abouts").animate({
	   top:"-=230px"
	}, 800, function() {
	   $("#aboutus").fadeOut(400, function(){
	      $("#about").fadeIn(400, function(){})
	   })
	})
})


</script>














