<!DOCTYPE html>
<html>
<body>
<style>
.topleft {position:absolute; left:80px; top:50px;}
.topright {position:absolute; right:80px; top:50px;}
.botleft {position:absolute; left:80px; top:100px;}
.botright {position:absolute; right:80px; top:100px;}
.defmap {position:absolute; left:290px; top:180px;}
.map {position:absolute; left:290px; top:243px;}
.loc {position:absolute; left:290px; top:162px;}
.cuisine {position:absolute; left:290px; top:178px;}
.note {position:absolute; left:60px; bottom:30px;}
</style>
<form action="" method="POST">
{% if alert %}
<script>
console.log("nothing");
window.alert("No known restaurants of the selected type.");
</script>
{%endif%}
<input type = "submit" class = "topright" name = "button" id = "Random" value = "Choose Random" /input>
{% if cuisineList %}
<input type = "submit" class = "botleft" name = "button" id = "cuislist" value = "Choose" /input>
<p><select class = "topleft" name = "cuisine">
     {% for i in cuisineList %}
      <option> {{ i }} </option>
     {% endfor %}
</select>
{% endif %}
{% if restaurantList %}
<p><select class = "topleft" name = "restaurant">
     {% for r in restaurantList %}
      <option> {{ r[0] }} </option>
     {% endfor %}
</select></p>
<input type = "submit" class = "botleft" name = "button" id = "reslist" value = "Find" /input>
<input type = "submit" class = "botright" name = "button" id = "Back" value = "Back" /input>
{% endif %}
</form>
<!--div class = "topright">
<!--Your ZIP code:
<input type="text" name="ZIP" /input></div></p>
<p>
<input type = "submit" class = "botright" name = "button" id = "Nearest" value = "Choose Nearest" /input></p-->

{% if resLat and resLong and resLoc %}
<title>{{resName}}</title>
<p class = "loc"><b>{{ resName }}</b>, at {{ resLoc }} </p>
{%if cuisine%}
<p class = "cuisine">{{ cuisine }} </p>
{%endif%}
<p><img class = "map" src="http://maps.googleapis.com/maps/api/staticmap?center={{resLat}},{{resLong}}&markers=color:green%7C{{resLat}},{{resLong}}&zoom=15&size=600x300&sensor=false&key=AIzaSyCCNDCTcladb4KW0_WTUfL6cfR5EAT4ffw" /></p>

{% else %}
<title> The Food Finder</title>
<div >
<img class = "defmap" src="http://maps.googleapis.com/maps/api/staticmap?center=40.717880,-74.013751&markers=color:green%7C40.717880,-74.013751&zoom=15&size=600x300&sensor=false&key=AIzaSyCCNDCTcladb4KW0_WTUfL6cfR5EAT4ffw" /img>
</div>
{% endif %}
<p class = "note"><b>Note:</b> this key will deactivate after Nov 30th. talk to Sarah R for the next key to be activated.</p>

<script src="static/jquery.js"></script>
<script>
/*$(document).ready(function(){
$("#Back").click(function(){
window.location.reload();
});
});*/
</script>
</body>
</html>
