<!DOCTYPE html>
<html>
<body>
{% block body %}
<title>Food Cart Finder</title>

{% if resName %}

<h3>{{ resName }}</h3>

{% if resLat and resLong and resLoc %}

<p><b>Location:</b> {{ resLoc }} </p>

<!--p> {{ resLat }} , {{ resLong }} </p-->

<p><img src="http://maps.googleapis.com/maps/api/staticmap?center={{resLat}},{{resLong}}&markers=color:green%7C{{resLat}},{{resLong}}&zoom=15&size=600x300&sensor=false&key=AIzaSyBvWZPqljqIxc8irmZJArj1w_6NiBo3Lr0" /></p>

<p><b>Note:</b> this key will deactivate on Nov 24th, at 7:45 pm. talk to Sarah R for the next key to be activated.</p>

{% endif %}

{% endif %}
<input type = "submit" name = "button" id = "Back" value = "Go Back" /input>
<script src="/static/jquery.js"></script>
<script>
$(document).ready(function(){
$("#Back").click(function(){
window.location.href = "/index.html"//will need to change later
});
});
</script>
{% endblock %}
</body>
</html>
