<!DOCTYPE html>
<html>
  <head>
    <script src="../static/jquery.js"></script>
    <script src="../static/main.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <title>Home</title>
    <link href="static/stylestuff.css" rel="stylesheet" type="text/css">
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
      body {
      padding-top: 60px;
      }

      #data {
      background-color: #DFECF2;
      border-width: 1px;
      border-radius: 5px;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid">
    <div id="header" class="span6 well">
      <h1>TweetStat</h1>
      <h3 class="text-info">by Jules, Brian, Sofia, and Patrick</h3>
    </div>
    <div id="banner" class="span4 offset1 pull-left">
	<img class="img-rounded" src="../static/thluffy.png" alt="thluffy" height=150 width=275 />
	</div>
    <div id="search" class="span12 pull-left">
    <form id="inputform" class="form-search">
      Type in a celebrity's name:
      <input type="text" id="twiturl" class="input-medium search-query"></input>
      <button type="submit" id="go" name="go" class="btn btn-primary">Go</button>
    </form>
    </div>
    <div id="data" class="span12 pull-left">
      This is data
    </div>
    </div>
  </body>
</html>
