<!DOCTYPE html>
<html>
  <head>
	<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
	<!--<link href='http://fonts.googleapis.com/css?family=Kite+One'
rel='stylesheet' type='text/css'> -->
	<script src="{{ url_for('static',filename='jquery.js') }}"></script>
	<script src="{{ url_for('static',filename='calendar.js') }}"></script>
    <title> CALENDAR! </title>
  </head>
<body>



    <!--<form method="POST" action="">
      <input type="image" src = "{{ url_for ('static',
  filename='arrowleft.png') }}" value="previous" name = "Previous">
      </form> -->
    <form method="POST" action="">
      <input type="image" src = "{{ url_for ('static',filename='arrowleft.png') }}" value="previous" name = "Previous" class="smaller">  {{month}}  {{year}}       <input type="image" src = "{{ url_for ('static',filename='arrowright.png') }}" value="next" name = "Next" class = "smaller">
      </form>
    <table border="1" width = "98%" height="600">
    {% if month == "January" %}
  {% if first > 4 %}
  {% set rangetracker = 42 %}
  {% endif %}
{% for counter in range(rangetracker) %}
{% if trcounter%7 == 1 %}
    <tr>
{% endif %}
<td class='cell'>
{% if counter == first %}
{% set first = 1 %}
{% set foundfirst = 1 %}
{% endif %}
{% if foundfirst == 1 and first < 32 %}
{{first}}
{% for date in events %}
{% if date[0] == first %}
{{ date[1] }} Event(s)
{% endif %}
{% endfor %}
{% set first = first + 1 %}
{% endif %}
{% if first == 32 %}
{% set first = 100 %}
{% endif %}
</td>
{% if trcounter%7 == 0 %}
    </tr>
{% endif %}
{% set trcounter = trcounter + 1 %}
{% endfor %}
    {% endif %}

   {% if month == "March" %}
    {% if first > 4 %}
  {% set rangetracker = 42 %}
  {% endif %}
{% for counter in range(rangetracker) %}

{% if trcounter%7 == 1 %}
    <tr>
{% endif %}
<td class='cell'>
{% if counter == first %}
{% set first = 1 %}
{% set foundfirst = 1 %}
{% endif %}
{% if foundfirst == 1 and first < 32 %}
{{first}}
{% for date in events %}
{% if date[0] == first %}
{{ date[1] }} Event(s)
{% endif %}
{% endfor %}
{% set first = first + 1 %}
{% endif %}
{% if first == 32 %}
{% set first = 100 %}
{% endif %}
</td>
{% if trcounter%7 == 0 %}
    </tr>
{% endif %}
{% set trcounter = trcounter + 1 %}
{% endfor %}
    {% endif %}


   {% if month == "May" %}
    {% if first > 4 %}
  {% set rangetracker = 42 %}
  {% endif %}
{% for counter in range(rangetracker) %}

{% if trcounter%7 == 1 %}
    <tr>
{% endif %}
<td class='cell'>
{% if counter == first %}
{% set first = 1 %}
{% set foundfirst = 1 %}
{% endif %}
{% if foundfirst == 1 and first < 32 %}
{{first}}
{% for date in events %}
{% if date[0] == first %}
{{ date[1] }} Event(s)
{% endif %}
{% endfor %}
{% set first = first + 1 %}
{% endif %}
{% if first == 32 %}
{% set first = 100 %}
{% endif %}
</td>
{% if trcounter%7 == 0 %}
    </tr>
{% endif %}
{% set trcounter = trcounter + 1 %}
{% endfor %}
    {% endif %}


   {% if month == "July" %}
    {% if first > 4 %}
  {% set rangetracker = 42 %}
  {% endif %}
{% for counter in range(rangetracker) %}

{% if trcounter%7 == 1 %}
    <tr>
{% endif %}
<td class='cell'>
{% if counter == first %}
{% set first = 1 %}
{% set foundfirst = 1 %}
{% endif %}
{% if foundfirst == 1 and first < 32 %}
{{first}}
{% for date in events %}
{% if date[0] == first %}
{{ date[1] }} Event(s)
{% endif %}
{% endfor %}
{% set first = first + 1 %}
{% endif %}
{% if first == 32 %}
{% set first = 100 %}
{% endif %}
</td>
{% if trcounter%7 == 0 %}
    </tr>
{% endif %}
{% set trcounter = trcounter + 1 %}
{% endfor %}
    {% endif %}


   {% if month == "August" %}
    {% if first >4 %}
  {% set rangetracker = 42 %}
  {% endif %}
{% for counter in range(rangetracker) %}

{% if trcounter%7 == 1 %}
    <tr>
{% endif %}
<td class='cell'>
{% if counter == first %}
{% set first = 1 %}
{% set foundfirst = 1 %}
{% endif %}
{% if foundfirst == 1 and first < 32 %}
{{first}}
{% for date in events %}
{% if date[0] == first %}
{{ date[1] }} Event(s)
{% endif %}
{% endfor %}
{% set first = first + 1 %}
{% endif %}
{% if first == 32 %}
{% set first = 100 %}
{% endif %}
</td>
{% if trcounter%7 == 0 %}
    </tr>
{% endif %}
{% set trcounter = trcounter + 1 %}
{% endfor %}
    {% endif %}


   {% if month == "October" %}
    {% if first > 4 %}
  {% set rangetracker = 42 %}
  {% endif %}
{% for counter in range(rangetracker) %}

{% if trcounter%7 == 1 %}
    <tr>
{% endif %}
<td class='cell'>
{% if counter == first %}
{% set first = 1 %}
{% set foundfirst = 1 %}
{% endif %}
{% if foundfirst == 1 and first < 32 %}
{{first}}
{% for date in events %}
{% if date[0] == first %}
{{ date[1] }} Event(s)
{% endif %}
{% endfor %}
{% set first = first + 1 %}
{% endif %}
</td>
{% if trcounter%7 == 0 %}
    </tr>
{% endif %}
{% set trcounter = trcounter + 1 %}
{% endfor %}
    {% endif %}


   {% if month == "December" %}
    {% if first > 4 %}
  {% set rangetracker = 42 %}
  {% endif %}
{% for counter in range(rangetracker) %}

{% if trcounter%7 == 1 %}
    <tr>
{% endif %}
<td class='cell'>
{% if counter == first %}
{% set first = 1 %}
{% set foundfirst = 1 %}
{% endif %}
{% if foundfirst == 1 and first < 32 %}
{{first}}
{% for date in events %}
{% if date[0] == first %}
{{ date[1] }} Event(s)
{% endif %}
{% endfor %}
{% set first = first + 1 %}
{% endif %}
{% if first == 32 %}
{% set first = 100 %}
{% endif %}
</td>
{% if trcounter%7 == 0 %}
    </tr>
{% endif %}
{% set trcounter = trcounter + 1 %}
{% endfor %}
    {% endif %}


  {% if month == "April" %}
    {% if first > 5 %}
  {% set rangetracker = 42 %}
  {% endif %}
{% for counter in range(rangetracker) %}

{% if trcounter%7 == 1 %}
    <tr>
{% endif %}
<td class='cell'>
{% if counter == first %}
{% set first = 1 %}
{% set foundfirst = 1 %}
{% endif %}
{% if foundfirst == 1 and first < 31 %}
{{first}}
{% for date in events %}
{% if date[0] == first %}
{{ date[1] }} Event(s)
{% endif %}
{% endfor %}
{% set first = first + 1 %}
{% endif %}
{% if first == 31 %}
{% set first = 100 %}
{% endif %}
</td>
{% if trcounter%7 == 0 %}
    </tr>
{% endif %}
{% set trcounter = trcounter + 1 %}
{% endfor %}
    {% endif %}


  {% if month == "June" %}
{% if first > 5 %}
  {% set rangetracker = 42 %}
  {% endif %}
{% for counter in range(rangetracker) %}
{% if trcounter%7 == 1 %}
    <tr>
{% endif %}
<td class='cell'>
{% if counter == first %}
{% set first = 1 %}
{% set foundfirst = 1 %}
{% endif %}
{% if foundfirst == 1 and first < 31 %}
{{first}}
{% for date in events %}
{% if date[0] == first %}
{{ date[1] }} Event(s)
{% endif %}
{% endfor %}
{% set first = first + 1 %}
{% endif %}
{% if first == 31 %}
{% set first = 100 %}
{% endif %}
</td>
{% if trcounter%7 == 0 %}
    </tr>
{% endif %}
{% set trcounter = trcounter + 1 %}
{% endfor %}
    {% endif %}


  {% if month == "September" %}
{% if first > 5 %}
  {% set rangetracker = 42 %}
  {% endif %}
{% for counter in range(rangetracker) %}
{% if trcounter%7 == 1 %}
    <tr>
{% endif %}
<td class='cell'>
{% if counter == first %}
{% set first = 1 %}
{% set foundfirst = 1 %}
{% endif %}
{% if foundfirst == 1 and first < 31 %}
{% for date in events %}
{% if date[0] == first %}
{{ date[1] }} Event(s)
{% endif %}
{% endfor %}
{{first}}
{% set first = first + 1 %}
{% endif %}
{% if first == 31 %}
{% set first = 100 %}
{% endif %}
</td>
{% if trcounter%7 == 0 %}
    </tr>
{% endif %}
{% set trcounter = trcounter + 1 %}
{% endfor %}
    {% endif %}


  {% if month == "November" %}
{% if first > 5 %}
  {% set rangetracker = 42 %}
  {% endif %}
{% for counter in range(rangetracker) %}
{% if trcounter%7 == 1 %}
    <tr>
{% endif %}
<td class='cell'>
{% if counter == first %}
{% set first = 1 %}
{% set foundfirst = 1 %}
{% endif %}
{% if foundfirst == 1 and first < 31 %}
{{first}}
{% for date in events %}
{% if date[0] == first %}
{{ date[1] }} Event(s)
{% endif %}
{% endfor %}
{% set first = first + 1 %}
{% endif %}
{% if first == 31 %}
{% set first = 100 %}
{% endif %}
</td>
{% if trcounter%7 == 0 %}
    </tr>
{% endif %}
{% set trcounter = trcounter + 1 %}
{% endfor %}
    {% endif %}


{% if month == "February" and year%4 == 0 %}
{% for counter in range(35) %}
{% if trcounter%7 == 1 %}
    <tr>
{% endif %}
<td class='cell'>
{% if counter == first %}
{% set first = 1 %}
{% set foundfirst = 1 %}
{% endif %}
{% if foundfirst == 1 and first < 30 %}
{{first}}
{% for date in events %}
{% if date[0] == first %}
{{ date[1] }} Event(s)
{% endif %}
{% endfor %}
{% set first = first + 1 %}
{% endif %}
{% if first == 30 %}
{% set first = 100 %}
{% endif %}
</td>
{% if trcounter%7 == 0 %}
    </tr>
{% endif %}
{% set trcounter = trcounter + 1 %}
{% endfor %}
    {% endif %}


{% if month == "February" and year%4 != 0 %}
{% for counter in range(35) %}
{% if trcounter%7 == 1 %}
    <tr>
{% endif %}
<td class='cell'>
{% if counter == first %}
{% set first = 1 %}
{% set foundfirst = 1 %}
{% endif %}
{% if foundfirst == 1 and first < 29 %}
{{first}}
{% for date in events %}
{% if date[0] == first %}
{{ date[1] }} Event(s)
{% endif %}
{% endfor %}
{% set first = first + 1 %}
{% endif %}
{% if first == 30 %}
{% set first = 100 %}
{% endif %}
</td>
{% if trcounter%7 == 0 %}
    </tr>
{% endif %}
{% set trcounter = trcounter + 1 %}
{% endfor %}
    {% endif %}
</td>
  </table>
<form method="POST" action="">
<button type= "submit" name = "help"> Help and Settings </button>
<button type = "submit" name = "logout"> Log Out </button>
</form>  
</body>
</html>
