<!DOCTYPE html>
<html>
  <head>
	<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Kite+One' rel='stylesheet' type='text/css'>
    <title> CALENDAR! </title>
  </head>

<table border="1" width = "95%" height="600">
  <tr>
    <td width = "14.2857%" height="5%"> {{month}} </td>
    <form>
      <input type = "image" src =
  "http://files.softicons.com/download/application-icons/mono-reflection-blue-icons-by-double-j-design/png/48/arrow-left.png"
  alt = "Last Month." name = "lastmonth">
      </form>
      <form>
      <input type = "image" src =
  "http://files.softicons.com/download/application-icons/mono-reflection-blue-icons-by-double-j-design/png/48/arrow-right.png"
  alt = "Previous Month." name = "nextmonth">
</form>
    </tr>
    {% if month == "January" %} 
{% range counter from 0 to 31 %}
<td onclick = dateClick()>
{% if counter == first %}
{% set counter = 1 %}
{% first = -1 %}
{% endif %}
{% if first == -1 %}
{{counter}}
{% endif %}
</td>
{% endrange %}
    {% endif %}
   {% if month == "March" %} 
{% range counter from 0 to 31 %}
<td onclick = dateClick()>
{% if counter == first %}
{% set counter = 1 %}
{% first = -1 %}
{% endif %}
{% if first == -1 %}
{{counter}}
{% endif %}
</td>
{% endrange %}
{% endif %}
   {% if month == "May" %} 
{% range counter from 0 to 31 %}
<td onclick = dateClick()>
{% if counter == first %}
{% set counter = 1 %}
{% first = -1 %}
{% endif %}
{% if first == -1 %}
{{counter}}
{% endif %}
</td>
{% endrange %}
{% endif %}
   {% if month == "July" %} 
{% range counter from 0 to 31 %}
<td onclick = dateClick()>
{% if counter == first %}
{% set counter = 1 %}
{% first = -1 %}
{% endif %}
{% if first == -1 %}
{{counter}}
{% endif %}
</td>
{% endrange %}
{% endif %}
   {% if month == "August" %} 
{% range counter from 0 to 31 %}
<td onclick = dateClick()>
{% if counter == first %}
{% set counter = 1 %}
{% first = -1 %}
{% endif %}
{% if first == -1 %}
{{counter}}
{% endif %}
</td>
{% endrange %}
{% endif %}
   {% if month == "October" %} 
{% range counter from 0 to 31 %}
<td onclick = dateClick()>
{% if counter == first %}
{% set counter = 1 %}
{% first = -1 %}
{% endif %}
{% if first == -1 %}
{{counter}}
{% endif %}
</td>
{% endrange %}
{% endif %}
   {% if month == "December" %} 
{% range counter from 0 to 31 %}
<td onclick = dateClick()>
{% if counter == first %}
{% set counter = 1 %}
{% first = -1 %}
{% endif %}
{% if first == -1 %}
{{counter}}
{% endif %}
</td>
{% endrange %}
{% endif %}
  {% if month == "April" %} 
{% range counter from 0 to 30 %}
<td onclick = dateClick()>
{% if counter == first %}
{% set counter = 1 %}
{% first = -1 %}
{% endif %}
{% if first == -1 %}
{{counter}}
{% endif %}
</td>
{% endrange %}
{% endif %}
  {% if month == "June" %} 
{% range counter from 0 to 30 %}
<td onclick = dateClick()>
{% if counter == first %}
{% set counter = 1 %}
{% first = -1 %}
{% endif %}
{% if first == -1 %}
{{counter}}
{% endif %}
</td>
{% endrange %}
{% endif %}
  {% if month == "September" %} 
{% range counter from 0 to 30 %}
<td onclick = dateClick()>
{% if counter == first %}
{% set counter = 1 %}
{% first = -1 %}
{% endif %}
{% if first == -1 %}
{{counter}}
{% endif %}
</td>
{% endrange %}
{% endif %}
  {% if month == "November" %} 
{% range counter from 0 to 30 %}
<td onclick = dateClick()>
{% if counter == first %}
{% set counter = 1 %}
{% first = -1 %}
{% endif %}
{% if first == -1 %}
{{counter}}
{% endif %}
</td>
{% endrange %}
{% endif %}
{% if month == "February" && year%4 == 0 %} 
{% range counter from 0 to 29 %}
<td onclick = dateClick()>
{% if counter == first %}
{% set counter = 1 %}
{% first = -1 %}
{% endif %}
{% if first == -1 %}
{{counter}}
{% endif %}
</td>
{% endrange %}
{% endif %}
{% if month == "February" && year%4 != 0 %} 
{% range counter from 0 to 28 %}
<td onclick = dateClick()>
{% if counter == first %}
{% set counter = 1 %}
{% first = -1 %}
{% endif %}
{% if first == -1 %}
{{counter}}
{% endif %}
</td>
{% endrange %}
{% endif %}
  </table>

<script language=”JavaScript>
  function dateClick() = self.location = self.location+"/"+$(this).val()
</script>
</html>
