<!DOCTYPE html>
<html>
  <head>
	<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Kite+One'
rel='stylesheet' type='text/css'>
    <title> Help/Settings </title>
  </head>
<body>
<h1>
Help/Settings
</h1>
<h3>
Time of Reminders:
</h3>
<form method="POST" action="">
<select name = "hourselector">
{% for hr in range(12) %}
{% set hr = hr + 1 %}
{% if hr == hourselected %}
<option selected value = {{hr}}>
{{hr}}</option>
{% else %}
<option value = {{hr}}>
{{hr}} </option>
{% endif %}
{% endfor %}
</select>
<select name = "minuteselector">
{% for min in minutes %}
{% if min == minuteselected %}
<option value = {{min}} selected> {{min}}</option>
{% else %}
<option value = {{min}}> {{min}}</option>
{% endif %}
{% endfor %}
</select>
{% if ampm == "am" %}
<input type="radio" name="ampmselect" value="am"checked> AM
<input type="radio" name="ampmselect" value="pm"> PM
{% else %}
<input type="radio" name="ampmselect" value="am"> AM
<input type="radio" name="ampmselect" value="pm"checked> PM
{% endif %}
<h3>
Enable/Disable Reminders
</h3>
{% if enabled == True %}
<input type="radio" name="enabledselect" value="en" checked> Enabled
<input type="radio" name="enabledselect" value="dis"> Disabled
{% else %}
<input type="radio" name="enabledselect" value="en"> Enabled
<input type="radio" name="enabledselect" value="dis" checked> Disabled
{% endif %}
<br>
<button type="submit" name="Submit">Save Changes</button>
<button type="submit" name="Back">Back to Calendar</button>
</form>
<h3>
Help
</h3>

<h4>
About the Site
</h4>
<p1>
This site was designed in conjunction with the Twilio
reminder-calendar program for phones. Anything done on here translates
to that account. <br>
To get to any date and review the events, click on the day on the
calendar page. Move back and forth between months using the designated
buttons. <br>
Add events using the text box at the bottom of each day's page.
Reminders, if enabled, will be sent at a preset time. Default time is
8:00 AM. All events for the day will be sent in one reminder sent at
this time. You can reset the time or disable reminders above.

<h4>
Syntax for Phone
</h4>

<p1>
To enter the date, use one of the following formats:
mm/dd
mm/dd/yy
mm/dd/yyyy
m/dd
m/d
mm-dd
mm-dd-yy
mm-dd-yyyy
m-dd
m-d <br>
If the year is not written, the current year will be assumed. If only
two digits of the year are written, the current century will be
assumed. <br>
Text the date and you will recieve back a list of events for that
date. <br>
</p1>
<br>
<p2>
To enter a time for reminders, use onr of the following formats:
hh:mm(am/pm)
h:mm(am/pm)

<p3>
To enable reminders: text "enable" <br>
To disable reminders: text "disable" <br>
To be texted this list: text "calendar help" <br>
To set reminder times: text "set - (time)"<br>
To set event: text "(date): (event)"
</p3>
</body>
</html>
