<!DOCTYPE html>
<html>
  <head>
	<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Kite+One' rel='stylesheet' type='text/css'>
    <title> Group Four </title>
  </head>
  <body>
    <header> <div class="title1">G</div><div class="title2">ROUP</div> <div class="title1">F</div><div class="title2">OUR</div>  </header>
      <form name="login" action="" method="POST">
	<font color="navy">Username:<input type="text" name="user" size="50">
	<br/>
	Password:<input type="password" name="pass" size="50">
	<br/></font>
	<input type="submit" name="login" value="Login">
	<b><font color="maroon"> Incorrect username and/or password </font> </b>
      </form>
  </body>
</html>

