<!DOCTYPE html>
<html>
  <head>
	<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Kite+One' rel='stylesheet' type='text/css'>
    <title> Group Four </title>
  </head>
  <body>
  <center>
    <header> <div class="title1">G</div><div class="title2">ROUP</div> <div class="title1">F</div><div class="title2">OUR</div>  </header>
	<br>
      <form name="login" action="" method="POST">
	<div class="infotext">
	<table>
  <tr>
		<td>Username:</td>
		<td><input type="text" name="user" size="50"></td>
	</tr>
	<tr>
		<td>Password:</td>
		<td><input type="password" name="pass" size="50"></td>
	</tr>
</table>
	<input type="submit" name="login" value="Login">
	<br>
	<input type="submit" name="newuser" value="Sign Up">
      </form>
	</center>
  </body>
</html>

