<!DOCTYPE html>
<html>
  <head>
	<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Kite+One' rel='stylesheet' type='text/css'>
    <title> Hangout Mashup </title>
  </head>
  <body>
    <header> <div class="title1">H</div><div class="title2">ANGOUT</div> <div class="title1">M</div><div class="title2">ASHUP</div>  </header>
	<br>
      <form name="login" action="" method="POST">
	<div class="infotext">
	Username: <input type="text" name="user" size="50">
	<br/>
	Password: <input type="password" name="pass" size="50">
	<br/>
	</div>
	<input type="submit" name="login" value="Login">
      </form>
  </body>
</html>

