<!DOCTYPE html>
<html>
<header>
<title> Create Account </title>
</header>
<body>
<h1> Create your new *Project Name* Account </h1>
<form action="" method="POST">
Choose a username: <textarea name="user"></textarea>
Choose a password: <textarea name="pass1"></textarea>
Re-Enter password: <textarea name="pass2"></textarea>
<button name="submit" value="Submit"></button>
{% if {{taken}} %}
This username is already taken.
{% endif %}
{% if {{notmatching}} %}
Passwords do not match.
{% endif %}
</form>
</body>
</html>
