  body {
    color: #CCCC33;
    background-color: #000000;
	margin: 0, fixed;
	}
	.navbardiv {
  list-style:none;
  margin:0px;
  padding:0;
  width:500px;
}

ul#list-nav li {
  display:left
}

ul#list-nav li a {
  text-decoration:none;
  padding:7px 0;
  width:100px;
  background:#26057A;
  color:#eee;
  float:left;
  text-align:center;
  border-left:1px solid #fff;
}

ul#list-nav li a:hover {
  background:#26057A;
  color:#ffff00;
}