<!DOCTYPE html>
<html>
    <head>
      <h1>Search for your perfect school!</h1>
        {% block head %}
        <link rel="stylesheet" href="style.css" />
        <div id="header">
<ul>
           <li> <a href='{{ url_for('index') }}'>Home</a></li>
           <li> <a href='{{ url_for('search') }}'>Search</a></li>
            <li><a href='{{ url_for('mySearches') }}'>My Searches</a></li>
</ul>
        </div>
        <title>{% block title %}{% endblock %} </title>
        {% endblock %}
    </head>

    <body>
        {% block body %}{% endblock %}
    </body>
</html>

<style>
body {
    font-family: Arial;
    background-color: white;
    color: #44FF11;
  }

a {
   color: blue;
   text-decoration: none;
}

a:hover {
   color:green;
}

a:active {
   color: red;
}

#inbod {
   height: auto;
   background-color: gray;
   text-align: center;
   padding: 20px 0;
   margin: 30px;


h1 {
   color: black;
   font-size: 40px;
}

ul {
   list-style-type: none;
}

li {
   display: inline;
   margin: 0 50px;
}

</style>

