{% extends 'default.html' %}
{% block title %}Search{% endblock %}
{% block body %}
<div id="body">
      <h3>New Search:</h3>
      <form id="question list" action="" method="POST">
        <p>What borough my school should be in:</p>
        <input type="radio" name="borough" value="bronx">Bronx</input>
        <input type="radio" name="borough" value="brooklyn">Brooklyn</input>
        <input type="radio" name="borough" value="manhattan">Manhattan</input>
        <input type="radio" name="borough" value="queens">Queens</input>
        <input type="radio" name="borough" value="staten island">Staten Island</input>
	<p>My ideal class size:</p>
        <input type="text" name="sizeofclass">
	<p>My ranking of priorities (left to right most to least important):<br><br>
	Class size: 
          <input type="radio" name="classsize" value="1">1</input>
          <input type="radio" name="classsize" value="2">2</input>
          <input type="radio" name="classsize" value="3">3</input>
          <input type="radio" name="classsize" value="4">4</input><br>
	 Academics - Writing: 
          <input type="radio" name="writing" value="1">1</input>
          <input type="radio" name="writing" value="2">2</input>
          <input type="radio" name="writing" value="3">3</input>
          <input type="radio" name="writing" value="4">4</input><br>
	Academics - Reading: 
          <input type="radio" name="reading" value="1">1</input>
          <input type="radio" name="reading" value="2">2</input>
          <input type="radio" name="reading" value="3">3</input>
          <input type="radio" name="reading" value="4">4</input><br>
	Academics - Math: 
          <input type="radio" name="math" value="1">1</input>
          <input type="radio" name="math" value="2">2</input>
          <input type="radio" name="math" value="3">3</input>
          <input type="radio" name="math" value="4">4</input>
	</p>
	<p>The number of results I would like to see:</p>
        <input type="radio" name="numresults" value="5">5</input>
        <input type="radio" name="numresults" value="10">10</input>
        <input type="radio" name="numresults" value="20">20</input>
        <input type="radio" name="numresults" value="30">30</input><br><br>
        <input type=Submit value="Search">
      </form>
</div>
{% endblock body %}
