<!DOCTYPE html> 
<form action= "" method="post">
<html lang = "en">
<head>
</head>
<body> 
<body bgcolor="black" text="FFFF00">
<ul id="list-nav">
  <li><a href="about.html">About Us</a> </li>
</ul>
<style>
ul#list-nav {
  list-style:none;
  margin:10px;
  padding:0;
  width:500px;
}

ul#list-nav li {
  display:inline
}

ul#list-nav li a {
  text-decoration:none;
  padding:7px 0;
  width:100px;
  background:#26057A;
  color:#eee;
  float:left;
  text-align:center;
  border-left:1px solid #fff;
}

ul#list-nav li a:hover {
  background:#26057A;
  color:#ffff00;
}
</style>
<h1 style ="text-align: center;"> 
Open up the </h1>
 <center><a href="http://tinypic.com?ref=2s17nn6" target="_blank"><img src="http://i48.tinypic.com/2s17nn6.png" border="0" alt="Image and video hosting by TinyPic"></a>
<h3 style ="text-align: center;">
 What can we do for you today? </h3>
<br>
<form action="" class="well form-inline" method="POST">
  <input type="text" name="login-or-register">
  <input type="submit" name="button" value="Login"><br>
If you don't have an account, this will register one for you.
</form>
</body>
</html> 