<!DOCTYPE html> 
<form action= "" method="post">
<html lang = "en">
<head>
<style type="text/css">
  body {
    color: #26057A;
    background-color: #ABACB1;
	}
	ul#list-nav {
  list-style:none;
  margin:10px;
  padding:0;
  width:500px;
}

ul#list-nav li {
  display:inline
}

ul#list-nav li a {
  text-decoration:none;
  padding:5px 0;
  width:100px;
  background:#000000
  color:#eee;
  float:left;
  text-align:center;
  border-left:1px solid #fff;
}

ul#list-nav li a:hover {
  background:#a2b3a1;
  color:#000
}
  </style>
</head>
<body> 
<ul id="list-nav">
  <li><a href="#">Home</a></li>
  <li><a href="#">About Us</a></li>
</ul>
<form class="navbar-search pull-left">  
  <input type="text" class="search-query" placeholder="Quick Search">  
</form>
<h1>
<h1 style ="text-align: center;"> 
 Open up the Music Box </h1>
</body>
</html> 
