<!DOCTYPE html> 
<form action= "" method="post">
<html lang = "en">
<head>
<link rel='stylesheet' href='musicbox.css'>
</head>
<body> 
<ul id="list-nav">
  <li><a href="#">Home</a></li>
  <li><a href="#">About Us</a></li>
</ul>
<form class="navbar-search pull-left"> //if this doesn't end up working, try class="well-form search" instead 
  <input type="text" class="search-query" placeholder="Quick Search">  
  <button type="submit" class="btn">Go</button>  
  </form>
<h1>
<h1 style ="text-align: center;"> 
 Open up the </h1>
 <center><a href="http://tinypic.com?ref=2s17nn6" target="_blank"><img src="http://i48.tinypic.com/2s17nn6.png" border="0" alt="Image and video hosting by TinyPic"></a>
<h3 style ="text-align: center;">
 What can we do for you today? </h3>
 <form class="well form-inline">
<input type="text" class="input-small" placeholder="Email">
  <input type="password" class="input-small" placeholder="4 Digit ID">
  <p><input type=submit name=button value=Login>
 </body>
</html> 
