<!DOCTYPE html>

{% extends 'homepage.html' %}
{% block head %}
    {{ super() }}
<style> </style>
{% endblock head %}

<div
{% block body %}
<h1>Welcome!</h1>

<div class="search_movie">
Search for a movie:
<form action="" method="POST">
<textarea name="searchdata" class="input-xxlarge" placeholder="Type the name of the movie with _ between word" rows="1"></textarea>
<input type="submit" name="button" value="Search_Movie" class="btn btn-small btn-info">

<p>Select a genre to view movies from:
<select name="genre_selection">
{% for genre in genres['genres'] %}
<option>{{genre['name']}}</option>
{% endfor %}
</select>
<input type="submit" name="button" value="Genre_Selection" class="btn btn-small btn-info">
<p>Movies playing now:
<input type="submit" name="button" value="Now_Playing_Selection" class="btn btn-small btn-info">
<p>Upcoming movies:
<input type="submit" name="button" value="Upcoming_Selection" class="btn btn-small btn-info">
<p>Popular movies:
<input type="submit" name="button" value="Popular_Selection" class="btn btn-small btn-info">

</form>
</div>

{% endblock body %}


</html>
