<!DOCTYPE html>

{% extends 'homepage.html' %}

{% block head %}
<div class="navbar">
      <div class="navbar-inner">
	<a class="brand">The Movie Recommender</a>
      </div>
    </div>
{{ super() }}
{% endblock head %}


{% block body %}

<div class="span9">
{{headerThing}}
<form action="" method="POST">
<div class="mlist">  
<select id="mlist">

</select>
</div>
<input type="submit" name="button" id="back" value="back" class="btn btn-small btn-info"></input>
</form>
<br><br>

<div id = movieTitle></div>
<script type="text/javascript" src="/static/js/swfobject.js"
id="trailer"></script>

<br><br>
<div id="ytapiplayer">
</div>

<div id="results">
</div>
</div>
<script src = "/static/js/searchresults.js" ></script>


{% endblock body %}

