<!DOCTYPE html>
THIS IS A TEST FOR YOUTUBE TRAILER STUFF! WITH UPTOWN GIRL

<script type="text/javascript" src="swfobject.js"></script>    
<div id="ytapiplayer">
    You need Flash player 8+ and JavaScript enabled to view this video.
</div>

<script type="text/javascript">

var params = { allowScriptAccess: "always" };
var atts = { id: "myytplayer" };
var movie_trailer_id = "PBYhKyNSs0o";
$("#myytplayer").attr('data', "http://www.youtube.com/v/" +
movie_trailer_id + "?enablejsapi=1&playerapiid=ytplayer&version=3");
swfobject.embedSWF("http://www.youtube.com/v/" + movie_trailer_id +
"?enablejsapi=1&playerapiid=ytplayer&version=3","ytapiplayer", "425",
"356", "8", null, null, params, atts);



</script>
