body {
background-image: url("https://twimg0-a.akamaihd.net/a/1354181157/t1/img/front_page/cricket@2x.jpg");
}
img {
border: thick solid #66ccff;

}

div {
color: #66ccff;
font: large cursive;
}
h1 {
text-align: center;
text-decoration: underline;
font-weight: bolder;
}
h3 {
text-align: center;
}

.celebphoto {
float: right;
}